
<div class="w-95/100 m-auto mt-4 flex flex-col" id="answerContainer">
  <form action="/questions/create" method="POST"
  class="flex flex-col lg:sticky lg:-top-12">
    <ul class="flex flex-wrap border-1 border-dashed border-gray-400 rounded-sm gap-1 m-auto mt-5 ml-18 p-1 py-2 w-80/100 justify-end justify-evenly items-center text-center">
        <% categori.forEach(cat => {%>
          <li class="bg-slate-700 p-1 min-w-3/10 rounded-lg border-1 border-gray-200 text-xs md:text-lg lg:text-lg md:mt-0 lg:mt-0 text-sky-200 font-bold">
            <label for="<%= cat.description %>" class="w-full h-full">
              <input  type="checkbox" name="categori" id="<%= cat.description %>" value="<%= cat.description %>" class="w-full h-full">
            <%= cat.description %></label>
          </li>
        <% })%>
        <li class="w-3/10"><input type="text" id="new-category" placeholder="Add New Category" class="px-2 w-full block text-center text-xs md:text-lg lg:text-lg border-1 border-gray-300 focus:outline-2 focus:outline-green-400"></li>
    </ul>
    <div>
      <label for="question" class="block m-auto mt-5 text-xs md:text-lg lg:text">Question:</label>
      <textarea class="w-90/100 text-xs md:text-lg lg:text-lg order-3 h-25 mt-2 focus:mt-5 focus:h-140 lg:focus:h-80 transition-all duration-300 resize-none px-2 py-1 mx-auto mb-6 border-2 border-gray-700 outline-0 focus:outline-2 focus:outline-blue-600 focus:bg-slate-800 rounded-lg" name="question" id="question" required></textarea>
    </div>
    <div>
      <label for="answer" class="block m-auto mt-5 text-xs md:text-lg lg:text">Answer:</label>
      <textarea class="w-90/100 text-xs md:text-lg lg:text-lg order-3 h-25 mt-2 focus:mt-5 focus:h-140 lg:focus:h-80 transition-all duration-300 resize-none px-2 py-1 mx-auto mb-6 border-2 border-gray-700 outline-0 focus:outline-2 focus:outline-blue-600 focus:bg-slate-800 rounded-lg" name="answer" id="answer"></textarea>
    </div>
    <button type="submit" class="block w-4/10 m-auto items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
       Publish post
   </button>
  </form>
</div>