<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/twind.css">
</head>
<body>
    <h1 class="text-3xl text-blue-300 underline bg-green-200" >Hello, World!</h1>
</body>
</html>