<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankII.0</title>
    <link rel="icon" type="image/x-icon" href="../images/pups.ico">
    <link rel="stylesheet" href="/twind.css">
</head>
<body id="whole-page" class="m-auto opacity-0 transition-opacity duration-300 ease-in-out font-mono text-center dark:bg-slate-950 dark:border-gray-600 dark:text-white">
   <button id="menu-toggle" class="fixed top-2 left-3 z-50 p-2 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 hover:cursor-pointer">
      <span class="sr-only">Open sidebar</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
      </svg>
   </button>

   <nav id="sidebar-menu" class="nav-bar nav fixed top-0 left-0 z-40 w-64 h-screen bg-white dark:bg-gray-800 transform -translate-x-full transition-transform duration-300 ease-in-out" aria-label="Sidebar">
       <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
         <ul class="space-y-2 font-medium">
            <li>
               <a href="/dashboard" class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="/images/home.svg" alt="Dashboard" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                  <span class="ms-3">User Dashboard</span>
               </a>
            </li>
            <li>
               <a href="/" class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="/images/search.svg" alt="Search Questions" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                  <span class="ms-3">Main Search</span>
               </a>
            </li>
            <li class="cursor-pointer">
               <input type="checkbox" id="dropdown-toggle" class="hidden peer/dropdown">
               <label for="dropdown-toggle" class="flex items-center gap-3 w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group cursor-pointer hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                     <img src="/images/question.svg" alt="Questions" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                     <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Questions</span>
                     <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                     </svg>
               </label>
               <ul id="dropdown-example" class="hidden peer-checked/dropdown:block py-2 space-y-2">
                     <li>
                        <a href="/questions/form" class="flex items-center w-full gap-1 p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                           <img src="/images/add.svg" alt="Add" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                           <span class="ms-3">Add Questions</span>
                        </a>
                     </li>
                     <li>
                        <a href="/questions" class="flex items-center w-full gap-1 p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                           <img src="/images/list.svg" alt="All" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                           <span class="ms-3">All Questions</span>
                        </a>
                     </li>
                     <li>
                        <a href="/questions/edit/select" class="flex items-center w-full gap-1 p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
                           <img src="/images/pencil.svg" alt="Edit" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                           <span class="ms-3">Edit Questions</span>
                        </a>
                     </li>
               </ul>
            </li>
            <li>
               <a href="/practice" class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="/images/interview.svg" alt="New Session" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                  <span class="flex-1 ms-3 whitespace-nowrap">New Practice Session</span>
               </a>
            </li>
            <li>
               <a href="/practice/history" class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="/images/history.svg" alt="Session History" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                  <span class="flex-1 ms-3 whitespace-nowrap">Previous Sessions</span>
                  <!-- <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span> -->
               </a>
            </li>
            <li>
               <a href="/auth" class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="/images/login.svg" alt="Dashboard" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                  <span class="flex-1 ms-3 whitespace-nowrap">Log In</span>
               </a>
            </li>
            <li>
               <form action="/auth/logout" method="POST"
                     class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                   <label for="logout" class="flex gap-3 items-center cursor-pointer w-full">
                      <input type="submit" id="logout" class="w-full h-full sr-only">
                      <img src="/images/logout.svg" alt="Dashboard" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                      <span class="flex-1 ms-3 whitespace-nowrap">Log Out</span>
                   </label>
               </form>
            </li>
            <li>
               <a href="/auth/signup" class="flex items-center gap-3 p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                  <img src="/images/signup.svg" alt="Dashboard" class="w-7 h-7 text-gray-500 transition duration-75 text-gray-400 dark:group-hover:text-white">
                  <span class="flex-1 ms-3 whitespace-nowrap">Sign Up</span>
               </a>
            </li>
         </ul>
       </div>
   </nav>

    <!-- <h1 class="m-auto w-15/100 md:w-50/100 lg:w-50/100 fixed top-12 md:static lg:static mt-5 mb-5 text-sm md:text-4xl lg:text-4xl text-teal-400 bg-sky-800">Bank-II.0</h1> -->
    <main class="m-auto w-95/100 xl:w-4/5 relative">
        <%- body %>
    </main>
    <script src="/nav.js"></script>
</body>
</html>