<% if (incomingSearch){ %>
<input id="incomingSearch" type="hidden" value="<%= incomingSearch %>">
<%} %>

<div class="mx-auto w-full max-w-9/10 mt-5 mb-3">
    <div class="mx-auto flex flex-wrap gap-3 h-fit w-full mt-5 items-center text-center">
        <p class="m-auto text-xs md:text-lg lg:text-lg w-40/100 h-fit bg-green-400 hover:bg-green-600 active:bg-green-950 text-white py-2 px-5 rounded-full mt-5"><a class="block" href="/questions">Clear All Filters</a></p>
        <button id="clear-btn" class="m-auto text-xs md:text-lg lg:text-lg w-40/100 h-full bg-green-400 hover:bg-green-600 active:bg-green-950 text-white py-2 px-5 rounded-full mt-5">Clear Keyword Search</button>
        <div class="m-auto flex place-content-center gap-5 w-full text-white py-2 px-5 rounded-full mt-5">
           <input type="text" name="search" id="search-bar" placeholder="Search"
           class="px-2 w-7/10 text-xs md:text-lg lg:text-lg border-1 border-gray-300 focus:outline-2 focus:outline-green-400">
           <button class="p-2 text-xs md:text-lg lg:text-lg w-2/10 border-1 border-gray-300 bg-orange-700 rounded-lg" id="search-btn">Search</button>
        </div>
    </div>
    <ul class="m-auto mt-5 border-solid border-black-500 grid grid-cols-3 gap-4 text-center">
    <% allQuestions.forEach(question =>{ %>
        <li class="question-list-item opacity-0 transition-opacity ease-in-out duration-300 rounded-md p-2 h-fit w-full col-span-3 border-solid border-2 border-black-700">
        <form action="/questions/byId" method="POST"
        class="flex flex-col place-content-center gap-2 items-center">
            <ul class="flex m-auto border-b-1 border-dashed w-full max-w-10/10 place-content-around text-center">
                <% question.categories.forEach(cat =>{ %>
                    <li class="question-category text-xs md:text-sm lg:text-md m-auto rounded-full"><%= cat%></li>
                <% })%>
            </ul>
            <p class="question-content text-sm md:text-lg lg:text-2xl row-span-2 col-span-5"><%= question.content%></p>
            <div class="m-auto text-center">
                <input type="hidden" name="id" value="<%= question._id %>">
                <input type="submit" class="text-center bg-green-400 active:bg-green-950 hover:bg-green-600 focus:outline-4 focus:outline-offset-2 focus:outline-green-700 text-white font-bold py-1 px-5 rounded-full" value="Answer">
            </div>
        </form>
        </li>
    <% }) %>
    </ul>
    <div id="noResultsBox" class="no-results-box opacity-0 transition-opacity ease-in-out duration-300 mx-auto border-1 border-gray-400 flex items-center h-fit w-full text-center py-1 pb-5 px-5">
        <p
        class="m-auto text-lg md:text-xl lg:text-xl text-center text-orange-800 h-full w-full">
        No Results Matched Your Query. You May Try:
        </p>
        <div class="mx-auto flex flex-col gap-3 h-fit w-full mt-5 items-center text-center">
            <p class="m-auto text-sm md:text-lg lg:text-lg w-60/100 h-full bg-green-400 hover:bg-green-600 active:bg-green-950 text-white py-2 px-5 rounded-full mt-5"><a class="w-fit" href="/questions">Clear All Filters</a></p>
            <p class="m-auto w-60/100 text-sm md:text-lg lg:text-lg bg-green-400 hover:bg-green-600 text-white py-2 px-5 rounded-full mt-5"><a class="block" href="/">Return Home</a></p>
            <button id="clear-btn-two" class="m-auto text-sm md:text-lg lg:text-lg w-60/100 h-full bg-green-400 hover:bg-green-600 active:bg-green-950 text-white py-2 px-3 rounded-full mt-5">Clear Keyword Search</button>
        </div>
    </div>
    <div id="tooStrictBox" class="too-strict-box opacity-0 transition-opacity ease-in-out duration-300 mx-auto border-1 border-gray-400 flex items-center h-fit w-full text-center py-1 pb-5 px-5">
        <p
        class="m-auto text-lg md:text-xl lg:text-xl text-center text-orange-800 h-full w-full">
        Your Category Search Didn't Yield Any Results.
        Loosen your category restraints!
        </p>
        <div class="mx-auto flex flex-col gap-3 h-fit w-full mt-5 items-center text-center">            
            <p class="m-auto w-60/100 text-sm md:text-lg lg:text-lg bg-green-400 hover:bg-green-600 text-white py-2 px-5 rounded-full mt-5"><a class="block" href="/">Return Home</a></p>
        </div>
    </div>
</div>




<script src="../main.js"></script>