<div class="mt-20">
  <dt class="w-9/10 text-left ml-4">Previous Practice Sessions: <%= sessions.length %></dt>
  <div  class="w-9/10 m-auto h-fit max-h-[80vh] overflow-y-scroll p-2 border border-2 border-sky-600 bg-stone-950 rounded-xl">
    <% for (const session of sessions.slice(0).reverse()){ %>
    <dd>
      <form action="/getSession" method="POST">
        <input type="hidden" name="sessionId" value="<%= session._id %>">
        <button type="submit" class="block m-auto w-full">
          <section id="user-questions-container" class="w-9/10  m-auto">
            <ul>
              <li class="flex my-1 items-center text-center place-content-around px-4 py-2 font-medium text-left rtl:text-right border-1 border-blue-200 cursor-pointer border-gray-600 bg-indigo-500 hover:bg-green-600 hover:text-white focus:ring-gray-500 focus:text-white rounded-xl">
                <div class="practice-date h-full w-5/10 text-center border-r-1 border-slate-900"><%= session.completedAt.toString().slice(4,15) %></div>
                <div class="practice-length h-full w-5/10 text-center border-l-1 border-slate-900"><%= session.questions.length %> Questions</div>
              </li>
            </ul>
          </section>
        </button>
      </form>
    </dd>
    <%}%>
  </div>
</div>